<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    @*create the nav-bar for the different pages*@
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="NewMovies">Enter a Movie</a>
        <a asp-controller="Home" asp-action="MyPodcast">My Podcasts</a>
    </nav>

    @*dynamically upload the page content here*@
    <div>
        @RenderBody()
    </div>

</body>
</html>
