@{
    ViewData["Title"] = "Home Page";
}


@*Include a header and a photo of Joel Hilton*@

<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" height="400" />
<br />


