@{
    ViewData["Title"] = "My Podcasts";
}

@*Make a view for the podcast page*@
<h1>Here is my Podcast "Baconsale"</h1>

@*Include the HREF for the baconsale page*@
<div>
    <a href="https://baconsale.com/">Baconsale</a>
</div>